[Unit]
Description=Sync Video Player
After=network.target

[Service]
User=geoff
Group=geoff
WorkingDirectory=/home/geoff/sync-video-player
ExecStartPre=/bin/sleep 5
ExecStart=python /home/geoff/sync-video-player/src/sync-video-player --config_file /home/geoff/sync-video-player/config.conf
Restart=always

[Install]
WantedBy=multi-user.target

