[Unit]
Description=Video Sync
After=network.target

[Service]
User=geoff
WorkingDirectory=/home/geoff/sync-video-player
ExecStartPre=/bin/sleep 5
ExecStart=/home/geoff/sync-video-player/src/sync-video-player --config_file /home/geoff/sync-video-player/config.conf
Restart=always

[Install]
WantedBy=multi-user.target
